@use './util.scss' as *;

.SassComponent {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;

  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &.violet    {  @include square(1, violet); }
    &.navy { @include square(2, navy); }
    &.blue {  @include square(3, blue); }
    &.green  {  @include square(4, green); }
    &.yellow   {  @include square(5, yellow); }
    &.orange   {  @include square(6, orange); }
    &.red {  @include square(7, red); }
  

    &:hover { background: black; }
  }
}